<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link href="/public/css/index.css" rel="stylesheet" />
    <title>Voice Conference | Regiter</title>
  </head>
  <body>
    <form class="form">
      <p style="text-align: center">Please update your username</p>
      <input
        name="username"
        placeholder="Enter Username"
        value="<%=account.username || ''%>"
        required
      />
      <button>Register</button>
    </form>
  </body>
  <script src="/public/js/register.js"></script>
</html>
