/*:root {
  --c1: -6%;
  --c2: 0%;
  --c3: 16%;
  --c4: 39%;
  --c5: 62%;
  --c6: 79%;
  --c7: 82%;
}*/
/*:root {
  --c1: -6%;
  --c2: 0%;
  --c3: 16.5%;
  --c4: 39%;
  --c5: 61.5%;
  --c6: 77.5%;
  --c7: 82%;
}*/
:root {
  --c1: -6%;
  --c2: 0%;
  --c3: 16.55%;
  --c4: 39.03%;
  --c5: 61.5%;
  --c6: 77.5%;
  --c7: 82%;
}
* {
  font-family: "Poppins";
}
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main-layout {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
/*BACKGROUND IMAGE*/
.main-layout > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.left-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/*GLOBAL*/
#room-name {
  text-align: center;
  width: 95%;
  font-weight: bold;
  font-size: 1.1rem;
  color: white;
}

/*HEADING LAYOUT*/
.heading {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 3% 5%;
  border-bottom: 1px solid #eee;
}
.heading > .icon {
  font-size: 1.5rem;
  color: white;
}
.heading > #room-name {
  display: none;
}
.heading > #profile {
  user-select: none;
  display: flex;
  font-size: 1rem;
  color: white;
  transition: all 0.3s;
}
.heading > #profile:hover {
  text-decoration: underline;
  color: orangered !important;
}
.heading > #profile > #name {
  display: block;
  margin: auto 5px auto 0;
  white-space: nowrap;
}
.heading > #profile > .icon {
  margin: auto 0;
}

/*CONFERENCE LAYOUT*/
.conference-layout {
  width: 100%;
}
.conference-layout > #room-name {
  display: block;
  padding: 3% 2.5%;
}

.user-circles {
  display: flex;
  position: relative;
  margin: 25px auto;
  width: 85%;
  max-width: 350px;
  max-height: 350px;
  aspect-ratio: 1/1;
}

.user-circles > .circle {
  position: absolute;
  display: flex;
  width: 17.95%;
  height: 17.95%;
  padding: 2%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  text-align: center;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
  border: 2.5px solid aquamarine;
}

.user-circles > .circle > label {
  margin: auto;
  user-select: none;
  overflow: hidden;
}

.user-circles > .center-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 40%);
  margin: auto;
  color: white;
  text-align: center;
}

.user-circles > .center-circle > #active-user {
  width: fit-content !important;
  font-size: 1.8rem;
  font-weight:400;
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
}

.user-circles > .center-circle > #timer {
  font-size:2.8rem;
  font-weight: 500;
  margin: auto;
}
.user-circles > .center-circle > #timer::after {
  content:"Sec";
  font-size: 0.9rem;
  margin-left:10px;
}

.circle-1 {
  top: var(--c1);
  left: var(--c4);
}

.circle-2 {
  top: var(--c2);
  left: var(--c5);
}

.circle-3 {
  top: var(--c3);
  left: var(--c6);
}

.circle-4 {
  top: var(--c4);
  left: var(--c7);
}

.circle-5 {
  top: var(--c5);
  left: var(--c6);
}

.circle-6 {
  top: var(--c6);
  left: var(--c5);
}

.circle-7 {
  top: var(--c7);
  left: var(--c4);
}
.circle-8 {
  top: var(--c6);
  left: var(--c3);
}

.circle-9 {
  top: var(--c5);
  left: var(--c2);
}

.circle-10 {
  top: var(--c4);
  left: var(--c1);
}

.circle-11 {
  top: var(--c3);
  left: var(--c2);
}

.circle-12 {
  top: var(--c2);
  left: var(--c3);
}

.active-circle {
  border: 3px solid rgb(191, 8, 191) !important;
}

/*ACTION LAYOUT*/
.action-layout {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 15px 10px;
}

.action-layout > .action-button {
  text-align: center;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  border: transparent;
  background: royalblue;
  color: white;
  margin: auto 0;
  cursor: pointer;
}

.action-layout > button:nth-child(2) {
  margin: 0 20px;
}

.action-layout > #skip-button {
  display: flex;
  margin: auto 0 auto auto;
  height: fit-content;
  color: white;
}

.action-layout > #skip-button > span {
  display: block;
  margin: auto 5px auto 0;
}

.action-layout > .hide-button {
  display: none !important;
}

/*CHAT LAYOUT*/
.chat-layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: static;
  width: 95%;
  height: auto;
  padding:1.5% 2.5%;
  background-color: transparent;
  overflow: hidden;
}
.chat-layout > .texts {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100% !important;
  margin: 5px 0px;
  overflow-y: auto;
  overflow-x: hidden;
}
.chat-layout > .texts > .msg-wrapper {
  display: flex;
  width: 100%;
  margin: 3px 0;
  justify-content: start;
  white-space: wrap;
  color: white;
}
.chat-layout > .texts > .msg-wrapper > .message {
  word-break: break-all;
  font-size: 0.8rem;
}
.chat-layout > .texts > .msg-wrapper > .sender {
  display: block;
  color: grey;
  font-size: 0.8rem;
  margin-right: 5px;
}
.chat-layout > form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: auto;
  border-bottom: 1px solid #eee;
}
.chat-layout > form > input {
  outline-style: none;
  border: transparent;
  background: transparent;
  flex: 1;
  padding: 10px;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.08);
  color: white;
}
.chat-layout > form > button {
  border: transparent;
  background-color: transparent;
  color: white;
  padding: 0 20px;
}

.mic-status {
  color: white;
  margin:0 auto;
  font-size: 0.7rem;
}

.status-message {
  position: absolute;
  bottom: 10px;
  display: none;
  justify-content: space-between;
  width: calc(90% - 30px);
  padding: 15px;
  margin: auto calc(100% - calc(90% + 15px));
  border-radius: 5px;
  background-color: #fff;
}
.status-message > p {
  margin: auto 0;
}
.status-message > span {
  margin: auto 0;
}
.error {
  display: flex;
  color: orangered;
}
.info {
  display: flex;
  color: royalblue;
}

/*RIGHT LAYOUT*/
.right-layout {
  display: none;
  width: 350px;
  height: 100%;
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.08);
}

@media only screen and (min-width: 700px) {
  /*LAYOUT*/
  .layout {
    flex-direction: row;
  }
  /*LEFT LAYOUT*/
  .left-layout > .chat-layout {
    display: none;
  }
  /*RIGHT LAYOUT*/
  .right-layout {
    display: block;
  }
  .right-layout > .chat-layout {
    display: flex;
    flex-direction: 1;
    width: 95%;
    height: 95%;
    padding: 2.5%;
    background-color: rgba(0, 0, 0, 0.064);
  }
  .right-layout > .chat-layout > .texts {
    height: 80%;
    overflow-y: auto;
  }
  /*HEADING LAYOUT*/
  .heading {
    justify-content: start !important;
    width: calc(100% - 60px);
    padding: 15px 30px;
  }
  .heading > #room-name {
    display: block;
    width: fit-content;
    margin: 0 auto 0 20px;
  }
  .heading > .profile {
    margin: 0;
  }
  /*CONFERENCE LAYOUT*/
  .conference-layout {
    margin: 20px 0;
  }
  .conference-layout > #room-name {
    display: none;
  }
  /*ACTION LAYOUT*/
  .action-layout {
    justify-content: center;
  }
  .action-layout > #skip-button {
    margin: auto 0 auto auto;
  }
  .action-layout > #mic-button {
    margin-left: calc(50% - 40px);
  }
  /*CHAT LAYOUT*/
  .chat-layout {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: static;
    width: 95%;
    height: auto;
    padding: 2.5%;
    background-color: transparent;
    overflow: hidden;
  }
  .chat-layout > .texts {
    margin: 10px 0px;
  }
  .chat-layout > .texts::-webkit-scrollbar {
    display: none;
  }
  .chat-layout > .texts > .msg-wrapper > .message {
    font-size: 0.9rem;
  }
  .chat-layout > .texts > .msg-wrapper > .sender {
    font-size: 0.9rem;
  }
}
